.grid-col {
    padding: 1rem !important;
    background:rgba(255,255,255,0.8);
}
.row.grid {
    margin-bottom: 1.5rem;
    text-align: center;
}
.row.grid .grid-col:first-child{
    text-align: left;
}